body {
background-image: url(concrete_seamless.png);
}
header {
    background-color: #fff
}
.bashdigh {width: 180px;
    display: block  ;
    text-decoration: none;
    float: 80px;

    background-color: green;
        font-size: 32px;
    padding: 20px;
    margin-right: 50px;

}
.aboutme { text-align: center;
    color: lightskyblue;
    font-weight: bold;
    font-size: 32px;
    margin: ;
}
img {width: 200px; }
section {text-align:center;
    display: block;
    width: 500px ;
    float: 400px;
    border: 1px solid #000;
}
.shekil {
    text-align: left;
}
.footerinyani {
    border: 5px solid #000;
}        ;
}
footer {
        padding: 10px;
        border: 1px solid black;
        background-color: #666;
}